body {
    margin: auto;
}
h1 {
    font-family: Arial;
}
#header-image {
    width: 100%;
    height: 500px;
    background: url('../images/drums-5.jpg') no-repeat center top fixed;
    background-color: #1d1c1c;
}