@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;800&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color:black;
}

h2 {
    font-family: Poppins, sans-serif;;
    color:white;
    padding-top: 30px;
}

h3 {
    font-family: Poppins, sans-serif;;
    color:white;
    padding-left: 10px;
    padding-top: 5px;
}

h4 {
    font-family: Arial;
    color:white;
}

form h4 {
    font-family: Poppins, sans-serif;
    font-size: 100%;
}

#overlay h3, h4 {
    font-family: Poppins, sans-serif;
    text-shadow: 3px 3px black;
    color:white;
    padding-left: 10px;
}

#overlay li {
    padding: 10px;
}

footer p {
    font-family: Arial;
    font-size: 12px;
    color:white;
    padding-top: 5px;
}

#logo {
    font-family: Poppins, sans-serif;
    font-size: 300%;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-left:5px;
    color:white;
    float:left;
}

ul {
    font-family: Poppins, sans-serif;
    font-size: 12px;
    color:white;
    padding-left:25px;
    padding-top: 10px;
}

nav ul {  
    padding-right: 5px;
    padding-top: 20px;
    display: flex;      /* Modified from https://stackoverflow.com/questions/35923720/reverse-ul-ordering-using-css-2-1 */
    flex-direction: row;
    float:right;
}

nav li {
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 2px;
    color:white;
    float:right;
    margin: 0 10px;
    padding-left: 2px;
    padding-right: 2px;
    list-style-type: none;
}

a {
    text-decoration: none;
}

form {
    font-size: 18px;
    font-family: Poppins, sans-serif;
    text-align: center;
    color:white;
    margin-top: 20px;
}

input {
    height: 30px;
    width: 150px;
}

label {
    font-family: Poppins, sans-serif;
    font-size: 85%;
}

#submit {
    height: 20px;
    width: 100px;
    border-radius: 4px;
    margin-bottom: 15px;
}

#submit:hover {
    background-color:skyblue;
}

li a {
    color:white;
}

li a:hover {
    color:gray;
}

.active {
    text-decoration: underline;
}

#header-image {
    width: 100%;
    height: 550px;
    background: url('../images/drums-5.jpg') no-repeat center top;
    background-color: #1d1c1c;
    background-size: cover;
    overflow:hidden;
}

#overlay {
    font-size: 100%;
    font-family: Arial;
    letter-spacing: 4px;
    background-color: rgba(5, 88, 109, 0.8);
    border: 1px solid white;
    width: 400px;
    height: 375px;
    bottom: 200px;
    right: 50px;
    position: absolute;
}

.wrapper1 {
    width: 80%;
    height: inherit;
    background-color: #1d1c1c;
    overflow:hidden;
    margin: 0 auto;
}

.wrapper2 {
    width: 70%;
    height: inherit;
    background-color: #1d1c1c;
    overflow:hidden;
    margin: 0 auto;
}

.content1 {
    width: 50%;
    height: 100%;
    background-color: #1d1c1c;
    margin: 0 auto;
    overflow: hidden;
}

.content2 {
    width: 50%;
    height: 100%;
    background-color: #1d1c1c;
    margin: 0 auto;
    overflow: hidden;
}

.video-wrapper {        /* Code from https://stackoverflow.com/questions/17838607/making-an-iframe-responsive */
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

footer {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Media queries */

@media screen and (max-width:1600px) and (min-height:992px) {
    #overlay {
        bottom: 400px;
    }

    #header-image {
        height: 800px;
    }
}

@media screen and (max-width:890px) {
    #logo {
        font-size: 240%;
    }

    nav li {
        font-size: 14px;
    }

    #overlay {
        font-size: 75%;
        width: 400px;
        height: 280px;
    }

    #overlay li {
        font-size: 70%;
    }

    footer h4 {
        font-size: 80%;
    }

    footer p {
        font-size: 60%;
    }
}

@media screen and (max-width:730px) {
    #logo {
        font-size: 210%;
    }

    nav li {
        font-size: 10px;
    }

    #overlay {
        font-size: 55%;
        width: 300px;
        height: 245px;
    }

    #overlay li {
        font-size: 60%;
    }

    footer h4 {
        font-size: 70%;
    }

    footer p {
        font-size: 50%;
    }
}

@media screen and (max-width:620px) {
    #logo {
        font-size: 190%;
    }

    nav li {
        font-size: 8px;
    }
}

@media screen and (max-width:565px) {
    #logo {
        font-size: 150%;
        padding-top: 7px;
    }

    nav li {
        font-size: 6px;
        margin-bottom: 17px;
    }

    #overlay {
        font-size: 35%;
        width: 230px;
        height: 200px;
    }

    #overlay li {
        font-size: 40%;
    }

    footer h4 {
        font-size: 60%;
    }

    footer p {
        font-size: 45%;
    }
}

@media screen and (max-width:480px) {
    #logo {
        font-size: 150%;
    }

    nav li {
        font-size: 5px;
    }
}

@media screen and (max-width:467px) {
    #logo {
        font-size: 140%;
    }

    nav li {
        font-size: 5px;
    }

    #overlay {
        font-size: 35%;
        width: 200px;
        height: 215px;
        margin-bottom: 100px;
    }
}

@media screen and (max-width:447px) {
    #logo {
        font-size: 110%;
        padding-top: 11px;
    }

    nav li {
        font-size: 5px;
        margin-bottom: 20px;
    }

    h2 {
        font-size: 90%;
    }
}

@media screen and (max-width:406px) {
    #logo {
        font-size: 100%;
        padding-top: 11px;
    }

    nav li {
        font-size: 4px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width:375px) {
    #logo {
        font-size: 90%;
        padding-top: 11px;
    }

    nav li {
        font-size: 4px;
        margin-bottom: 20px;
    }

    #overlay {
        font-size: 35%;
        width: 200px;
        height: 215px;
        margin-bottom: 100px;
    }

    #overlay h3, h4 {
        text-shadow: 1.5px 1.5px black;
    }

    h2 {
        font-size: 80%;
    }

    form {
        font-size: 80%;
    }
    input {
        height: 20px;
        width: 130px;
    }
    
    label {
        font-size: 75%;
    }
    
    #submit {
        height: 18px;
        width: 90px;
        border-radius: 4px;
    }
}

@media screen and (max-width:360px) {
    #logo {
        font-size: 70%;
        padding-top: 12px;
    }

    nav li {
        font-size: 4px;
        margin-bottom: 12px;
        letter-spacing: 1px;
    }

    #overlay {
        font-size: 35%;
        width: 200px;
        height: 215px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width:320px) and (min-height:480px) {
    #overlay {
        width: 180px;
        height: 205px;
        bottom: 90px;
        right: 10px;
        }

    #overlay ul {
        padding-left: 16px;
        letter-spacing: 2px;
    }

    #header-image {
        height: 380px;
        }
}

@media screen and (max-width:280px) {
    #logo {
        font-size: 70%;
        padding-top: 12px;
    }

    nav li {
        font-size: 4px;
        margin-bottom: 12px;
        margin-left: 2px;
        margin-right: 2px;
        letter-spacing: 1px;
    }

    h2 {
        font-size: 60%;
    }

    input {
        height: 17px;
    }
}

@media screen and (min-height:1024px) {
    #overlay {
        margin-bottom: 250px;
    }
}

@media screen and (min-height:1366px) {
    #overlay {
        margin-bottom: 600px;
    }
}